@import url('https://fonts.googleapis.com/css2?family=Abel&family=Happy+Monkey&family=Julius+Sans+One&display=swap');
*{
    
    color: white;
    font-family: 'Abel', sans-serif;
    margin: 0;

}

header{
    width: 100%;
    height: 80px;
    
    background: linear-gradient(90deg, #401A78 0%, #0B042C 98.55%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}

body {

    margin: 0;
    padding: 0;

    background: linear-gradient(269deg, #0B0323 16.75%, #000000 88.04%);

    animation: fadeIn 1s ease-in forwards;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    list-style: none;

    width: 100%;
    
}



.logo{

    width: 52px;
    height: 52px;

    margin-left: 50%;
}

.nav-link{
    white-space: nowrap;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;

}

.main-content{
    
    width: 100%;
    height: auto;
    
    display: flex;
    
    flex-direction: row;
    
    
}

.main-content-div{
    
    width: 909px;


    background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    position: relative;

    z-index: -1;
    
}

.main-content-text{

    font-size: 48px;
    font-weight: lighter;

}

.main-content-decoration{

    background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);
    
    
    width: 370px;
    height: 100%;

    border-radius: 0 50% 50% 0;

    position: absolute;
    left: 85%;

    overflow: hidden; 

    filter: blur(40px);

    z-index: 999;

}


/*

position: absolute;
left: 38.46%;
right: 41.07%;
top: 0%;
bottom: 0.33%;

background: linear-gradient(180deg, #13042F 0%, #3D0D95 100%);
opacity: 0.9;
filter: blur(40.6px);
*/

.main-content-image{

    width: 100%;
    height: auto;

    z-index: -999;

}

.title{

    text-align: center;
    font-weight: normal;
    margin-top: 1%;
    margin-bottom: 1%;

}

.recap{
    position: relative;
}

.recap-div{

    width: 100%;

    background: radial-gradient(151.52% 17.95% at 5% 34.87%, #212943 0%, #111325 100%);
    
    position: relative;

    z-index: 1;

}

.recap-text{
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding: 2% 10% 2% 5%;
}

.recap-decoration{

    background: radial-gradient(151.52% 17.95% at 50% 34.87%, #212943 0%, #111325 100%);

    width: 300px;
    height: 100%;

    position: absolute;
    top: auto;
    right: 80%;
   
    border-radius: 50% 0 0 50%;

    z-index: -1;

}

.character-text{
    font-size: 20px;
    font-weight: lighter;
    
    text-align: left;
    
    padding: 2% 10% 2% 5%;

    display: flex;
    flex-direction: column;

    padding: 0;

}

.character-description{

    width: 100%;
    
    background: linear-gradient(rgba(21, 2, 47, 0.5), rgba(0, 0, 0, 0.5)), url(images/7reo07feeasf1.png) no-repeat fixed;
    background-size: cover;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    z-index: 1;

}



.characters-title{
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.character-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 10%;
}

.character-decoration{

    background: linear-gradient(180deg, #130724 0%, #000000 99.52%);
    
    filter: none;

}

.character-image{
    padding-right: 10%;
}

.character-text-div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.character-title{
    font-size: 32px;
    font-weight: normal;
    text-align: center;

}

.n-description{

    background: linear-gradient(rgba(225, 255, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/n-background.png) no-repeat fixed;
    background-size: cover;
    background-position: center;

}

.character-separator{

    border: 1px solid white;
    
}

.v-description{
    
    background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/v-background.png) no-repeat fixed;
    background-size: cover;
    background-position: center;

}

.fan-art{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
background: rgba(5, 2, 32, 0.1);
    border: 11px solid #0D0533;
    border-radius: 15px;
}

.fan-art-div{

    box-sizing: border-box;

    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fan-art-image-div{
    
    width: 590px;
    height: 728px;
    
   

    margin-bottom: 5%;


}

.fan-art-image-2{
    
    border: 2px solid white;
}

.fan-art-image{
    border: none;
}

.discord-div{
    /* Rectangle 28 */

    box-sizing: border-box;

    background: linear-gradient(rgba(21, 2, 47, 0.5), rgba(10, 2, 20, 0.5));

    border: 8px solid #020210;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2%;

}

.discord-image{
    width: 250px;
    height: 180px;
}

.discord-text{
    text-align: center;

    padding: 2% 5% 2% 5%
}

footer{

    margin-top: 5%;

    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: black;

    border: 1px solid white;

    gap: 50px;

    padding-bottom: 2%;

    text-align: center;

}

.footer-logo{

    margin-top: 2%;
}

@media only screen and (max-width: 1024px) {
    header{
        height: 50px;
    }

    .logo{
        width: 30px;
        height: 30px;

        margin-left: 30%;
    }

    .nav-link{
        font-size: 10px;
    }

    .main-content-decoration{
    
        display: none;
    
    }

    #phone-main-content-div{
        background: linear-gradient(rgba(21, 2, 47, 0.3), rgba(0, 0, 0, 0.3)),url(images/uzi-image-1.png) no-repeat center;
        background-size: cover;
        padding: 13%;
        text-align: center;
    }

    .main-content-image{
        display: none
    }

    .recap-decoration{
        display: none;
    }

    .recap-image{
        display: none;
    }

    .recap-div{
        background: linear-gradient(rgba(21, 2, 47, 0.3), rgba(0, 0, 0, 0.3)),url(images/copper9-wasteland.png) no-repeat center;
        background-size: cover;
    }

    .recap-text{
        font-size: 18px;
        padding: 5%;
        text-align: center;
    }

    .character-image{
        padding: 0;
    }

    .character-description{
        flex-direction: column-reverse;
        background-size: cover;
        background: linear-gradient(rgba(21, 2, 47, 0.3), rgba(0, 0, 0, 0.3)),url(images/7reo07feeasf11111.png) no-repeat fixed right ;
        background-size: cover;
        background-position: 50%;
    }

    .character-text{
        padding: 10%;
    }

    .n-description{
        background: linear-gradient(rgba(225, 255, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/n-background-for-phone.png) no-repeat center fixed;
        background-size: cover;
        flex-direction: column;
    }

    .v-description{
        background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/v-background-for-phone.png) no-repeat center fixed;
        background-size: cover;
        
    }

    .fan-art{
        flex-direction: column;
    }

    .fan-art-div{
       width: 80%;
    }

    .fan-art-image-div{
        width: 100%;
        height: 100%;
        
        
    }
}

.mini-game-title{
    font-weight: normal;
    text-align: center;
}

.playground{
    width: 90%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.interaction-stuff{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.start-button-decoration{
    /* Polygon 1 */


box-sizing: border-box;

background-color: black;

transform: rotate(90deg);

width: 45px;
height: 45px;

clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
transition: transform 0.5s ease;

}



.score-display{
    font-size: 24px;
    display: none;
}



.start-button{
    /* Rectangle 30 */

width: 204px;
height: 104px;

font-size: xx-large;
/* gradient 3 */
background: linear-gradient(163.59deg, #080741 13.93%, #01030D 92.56%);
border-radius: 64px;

display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 5%;

border: none;
cursor: pointer;

transition: filter 0.5s ease;
}

.start-button:hover{
    filter: brightness(1.5) hue-rotate(75deg);
    .start-button-text{
        display: none;
    }
    .start-button-decoration{
        transform: rotate(450deg) scale(1.2);
    }
}

.start-button-text{
    font-weight: normal;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: visible;
}

.start-button-text-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@keyframes scaleButton{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.characters-table-image-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.characters-table{
    border: 2px solid black;
    background: rgba(5, 2, 32, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}
   
.characters-table-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.uzi-character-table{

    background: linear-gradient(0.93deg, #000000 0.87%, #0E0435 99.28%);

}

.characters-table-bottom{
   background: linear-gradient(#000000, #0E0435);
}

.characters-table-text{
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    height: fit-content;
    padding-bottom: 5%;
}

.playground-image{
    position: absolute;
    cursor: pointer;
    display: none;
    background-image: url();
    width: 120px;
    height: 120px;
    background-size: cover;
}

.time-counter{
    display: none;
}

.total-score-counter{
    display: none;
    font-size: 80px;
}

.high-score-counter{
    display: none;
    font-size: 80px;
    text-shadow: rgba(255, 255, 255, 1) 0px 0px 15px, rgb(0, 0, 0) 0px 0px 10px;
}

.mute-button-image{
    width: 50px;
    height: 60%;
    position: relative;
}

.mute-button-text{
    width: auto;
    font-size: 30px;

}

.mute-button{
    width: auto;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(185, 2, 2), black);
    border: none;
    border-radius: 15px;
    gap: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;

    transition: scale 0.5s ease, filter 0.5s ease;
}

.mute-button:hover{
    scale: 1.1;
    filter: drop-shadow(black 5px 5px);
}

.mute-button-image-decoration{
    position:absolute;
    width: 5px;
    height: 60px;
    rotate: 319deg;
    z-index: 999;
    background: red;
    border: none;
    display: none;
    transform-origin: left;
}

@keyframes muteSoundTrue {
   0%{
    height: 0px;
   }
   100%{
    height: 60px;
   }
}

@keyframes muteSoundFalse{
    0%{
        height: 60px;
    }
    100%{
        height: 0px;
    }
}

.mute-button-image-div{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .characters-table-div{
        flex-direction: row;
    }
    .characters-table{
       
        height: 444px;
    }
    .playground-image{
        width: 113px;
        height: 113px;
    }

    

}

@media (max-width: 767px){
    .characters-table{
         flex-direction: column;
    }
    .characters-table-text{
        text-align: center;
    }
    
}
@media (max-width: 375px){
    .characters-table-text{
        font-size: 15px;
    }
    .high-score-counter {
        font-size: 40px;
    }

    .total-score-counter{
        font-size: 40px;
    }
}

@media (max-width: 432px){
    .characters-table-image{
        width: 180px;
    }
}

.minigame-header{
    margin-bottom: 5%;
}