@import url('https://fonts.googleapis.com/css2?family=Abel&family=Happy+Monkey&family=Julius+Sans+One&display=swap');
*{
    
    color: white;
    font-family: 'Abel', sans-serif;
    margin: 0;

}

header{
    width: 100%;
    height: 80px;
    
    background: linear-gradient(90deg, #401A78 0%, #0B042C 98.55%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}

body {

    margin: 0;
    padding: 0;

    background: linear-gradient(146.66deg, #0B0323 16.75%, #000000 88.04%);

    animation: fadeIn 1s ease-in forwards;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    list-style: none;

    width: 100%;
    
}



.logo{

    width: 52px;
    height: 52px;

    margin-left: 50%;
}

.nav-link{
    white-space: nowrap;
    
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.main-content{
    
    width: 100%;
    height: auto;
    
    display: flex;
    
    flex-direction: row;
    
    
}

.main-content-div{
    
    width: 909px;


    background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    position: relative;

    z-index: -1;
    
}

.main-content-text{

    font-size: 48px;
    font-weight: lighter;

}

.main-content-decoration{

    background: linear-gradient(180deg, #401A78 0%, #0B042C 99.52%);
    
    
    width: 370px;
    height: 100%;

    border-radius: 0 50% 50% 0;

    position: absolute;
    left: 85%;

    overflow: hidden; 

    filter: blur(40px);

    z-index: 999;

}


/*

position: absolute;
left: 38.46%;
right: 41.07%;
top: 0%;
bottom: 0.33%;

background: linear-gradient(180deg, #13042F 0%, #3D0D95 100%);
opacity: 0.9;
filter: blur(40.6px);
*/

.main-content-image{

    width: 100%;
    height: auto;

    z-index: -999;

}

.title{

    text-align: center;
    font-weight: normal;
    margin-top: 1%;
    margin-bottom: 1%;

}

.recap{
    position: relative;
}

.recap-div{

    width: 100%;

    background: radial-gradient(151.52% 17.95% at 5% 34.87%, #212943 0%, #111325 100%);
    
    position: relative;

    z-index: 1;

}

.recap-text{
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    padding: 2% 10% 2% 5%;
}

.recap-decoration{

    background: radial-gradient(151.52% 17.95% at 50% 34.87%, #212943 0%, #111325 100%);

    width: 300px;
    height: 100%;

    position: absolute;
    top: auto;
    right: 80%;
   
    border-radius: 50% 0 0 50%;

    z-index: -1;

}

.character-text{
    font-size: 20px;
    font-weight: lighter;
    
    text-align: left;
    
    padding: 2% 10% 2% 5%;

    display: flex;
    flex-direction: column;

    padding: 0;

}

.character-description{

    width: 100%;
    
    background: linear-gradient(rgba(21, 2, 47, 0.5), rgba(0, 0, 0, 0.5)), url(images/7reo07feeasf1.png) no-repeat fixed;
    background-size: cover;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    z-index: 1;

}



.characters-title{
    font-size: 36px;
    font-weight: normal;
    text-align: center;
}

.character-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 10%;
}

.character-decoration{

    background: linear-gradient(180deg, #130724 0%, #000000 99.52%);
    
    filter: none;

}

.character-image{
    padding-right: 10%;
}

.character-text-div{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.character-title{
    font-size: 32px;
    font-weight: normal;
    text-align: center;

}

.n-description{

    background: linear-gradient(rgba(225, 255, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/n-background.png) no-repeat fixed;
    background-size: cover;
    background-position: center;

}

.character-separator{

    border: 1px solid white;
    
}

.v-description{
    
    background: linear-gradient(rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/v-background.png) no-repeat fixed;
    background-size: cover;
    background-position: center;

}

.fan-art{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
background: rgba(5, 2, 32, 0.1);
    border: 11px solid #0D0533;
    border-radius: 15px;
}

.fan-art-div{

    box-sizing: border-box;

    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fan-art-image{
    
    width: 590px;
    height: 728px;
    
    background-color: #401A78;

    margin-bottom: 5%;

}

.discord-div{
    /* Rectangle 28 */

    box-sizing: border-box;

    background: linear-gradient(rgba(21, 2, 47, 0.5), rgba(10, 2, 20, 0.5));

    border: 8px solid #020210;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 2%;

}

.discord-image{
    width: 250px;
    height: 180px;
}

.discord-text{
    text-align: center;

    padding: 2% 5% 2% 5%
}

footer{

    margin-top: 5%;

    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: black;

    border: 1px solid white;

    gap: 50px;

    padding-bottom: 2%

}

.footer-logo{

    margin-top: 2%;
}

@media only screen and (max-width: 430px) {
    header{
        height: 50px;
    }

    .logo{
        width: 30px;
        height: 30px;

        margin-left: 30%;
    }

    .nav-link{
        font-size: 10px;
    }

    .main-content-decoration{
    
        display: none;
    
    }

    #phone-main-content-div{
        background: linear-gradient(rgba(21, 2, 47, 0.3), rgba(0, 0, 0, 0.3)),url(images/uzi-image-1.png) no-repeat center;
        background-size: cover;
        padding: 13%;
        text-align: center;
    }

    .main-content-image{
        display: none
    }

    .recap-decoration{
        display: none;
    }

    .recap-image{
        display: none;
    }

    .recap-div{
        background: linear-gradient(rgba(21, 2, 47, 0.3), rgba(0, 0, 0, 0.3)),url(images/copper9-wasteland.png) no-repeat center;
        background-size: cover;
    }

    .recap-text{
        font-size: 18px;
        padding: 5%;
        text-align: center;
    }

    .character-image{
        padding: 0;
    }

    .character-description{
        flex-direction: column-reverse;
        background-size: cover;
        background: linear-gradient(rgba(21, 2, 47, 0.3), rgba(0, 0, 0, 0.3)),url(images/7reo07feeasf11111.png) no-repeat right;
        background-size: cover;
    }

    .character-text{
        padding: 10%;
    }

    .n-description{
        background: linear-gradient(rgba(225, 255, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/n-background-for-phone.png) no-repeat center;
        background-size: cover;
        flex-direction: column;
    }

    .v-description{
        background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/v-background-for-phone.png) no-repeat center;
        background-size: cover;
        
    }
}